In [1]:
age=22

In [2]:
print(age)

22

In [3]:
age=24
if age>22:
    print(age)

24

In [10]:
if True:
    print(" this is printed")
    if False:
        print("this not  print")
    print("hello")
print("word")
print("1111")
print("2222")

 this is printed
hello
word
1111
2222

In [11]:
a=100

In [12]:
print(a)

100

In [16]:
age=22
hight=6.8
name="rohi"
is_stuent=True

print("age=",age)
print("hight=",hight)
print("name=",name)

age= 22
hight= 6.8
name= rohi

In [18]:
#2age=24

In [26]:
name="rohi"
Name="rohi"

In [27]:
name==Name

True

In [30]:
age=33
hight=5.9
name="john"
print(type(age))
print(type(hight))
print(type(name))
print(type(is_stuent))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [38]:
age=33
print(type(age))

new_str=str(age)
print(age)
print(type(new_str))

<class 'int'>
33
<class 'str'>

In [44]:
var=19
print(var,type(var))
var="hello"
print(var,type(var))
var=10.77
print(var,type(var))

19 <class 'int'>
hello <class 'str'>
10.77 <class 'float'>

In [47]:
# input
age=input("enter your age =")
print(age,type(age))

21 <class 'str'>

In [59]:
age=int(input("enter your age="))
print("your age is=",age,)
if age>=18:
    print("you are adult")
else:
    print("you are child")
hight=float(input("enter your hight="))
print("your hight is=",hight)
if hight>=5:
    print("you are tall")
else:
    print("you are short")

your age is= 21
you are adult
your hight is= 6.8
you are tall

In [67]:
num1=int(input("enter fist number="))
num2=int(input("enter second number="))

add = num1+num2
if add>50:
    add=True
else:
    add=False
subteaction=num1-num2
multiplication=num1*num2
division=num1/num2
print("the addiotion",add)
print(subteaction)
print(multiplication)
print(division)

the addiotion False
5
66
1.8333333333333333